.centered {
    display: flex !important;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.spacebefore {
height: 1rem !important;
}
.spacebefore1 {
height: 1.5rem !important;
}

.timer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.button {
    width: fit-content;

}