.centered {
    display: flex !important;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.spacebefore {
height: 2rem !important;
}
.spacebefore1 {
height: 1.5rem !important;
}